
# To rename the dev for daughter board.
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", GROUP="users", MODE="0666", SYMLINK+="leda-db"

# To rename the dev for the GPS.
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", GROUP="users", MODE="0666", SYMLINK+="leda-gps"
